{
	"plugins": ["prettier-plugin-tailwindcss"],
	"jsxSingleQuote": false,
	"singleQuote": false,
	"useTabs": true,
	"tabWidth": 2,
	"arrowParens": "avoid",
	"trailingComma": "es5",
	"semi": true,
	"printWidth": 80
}
